flow.json
[
    {
        "id": "584d41915c6253d7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "054b565053a8d853",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "88c296ff0eb77349",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2718dabf454ba59c",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2410bfcf1932d43b",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ac07b485e680057f",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ea94d83619c0ed11",
        "type": "inject",
        "z": "584d41915c6253d7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 280,
        "wires": [
            [
                "a7c855bca59dd724"
            ]
        ]
    },
    {
        "id": "a7c855bca59dd724",
        "type": "debug",
        "z": "584d41915c6253d7",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 440,
        "wires": []
    },
    {
        "id": "afd1c1cb3f7f21d0",
        "type": "function",
        "z": "584d41915c6253d7",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "8e286c6636c8aab4",
        "type": "range",
        "z": "584d41915c6253d7",
        "minin": "",
        "maxin": "",
        "minout": "",
        "maxout": "",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 410,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "775c488d6fa3fa76",
        "type": "status",
        "z": "584d41915c6253d7",
        "name": "",
        "scope": null,
        "x": 80,
        "y": 440,
        "wires": [
            [
                "8e286c6636c8aab4",
                "6c14fd653c3fceb3"
            ]
        ]
    },
    {
        "id": "6c14fd653c3fceb3",
        "type": "exec",
        "z": "584d41915c6253d7",
        "command": "",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 530,
        "y": 700,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "13de6c25054c43f6",
        "type": "inject",
        "z": "88c296ff0eb77349",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 540,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "f60f6634ad47a406",
        "type": "debug",
        "z": "88c296ff0eb77349",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 120,
        "wires": []
    },
    {
        "id": "9448cbd7a4349a8b",
        "type": "status",
        "z": "88c296ff0eb77349",
        "name": "",
        "scope": null,
        "x": 300,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "091b865d66f8b1fb",
        "type": "link call",
        "z": "88c296ff0eb77349",
        "name": "",
        "links": [],
        "linkType": "static",
        "timeout": "30",
        "x": 250,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "a514e610c94c509d",
        "type": "mqtt in",
        "z": "2718dabf454ba59c",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 340,
        "wires": [
            [
                "827bfd068084f235"
            ]
        ]
    },
    {
        "id": "827bfd068084f235",
        "type": "mqtt out",
        "z": "2718dabf454ba59c",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "x": 490,
        "y": 220,
        "wires": []
    },
    {
        "id": "7d24854306c0c9b2",
        "type": "inject",
        "z": "2718dabf454ba59c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 400,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "c6dbd8a5fae7d9b5",
        "type": "debug",
        "z": "2718dabf454ba59c",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 400,
        "wires": []
    },
    {
        "id": "253e03dcf626406b",
        "type": "function",
        "z": "2410bfcf1932d43b",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 100,
        "wires": [
            [
                "94ca627362e57245"
            ]
        ]
    },
    {
        "id": "94ca627362e57245",
        "type": "switch",
        "z": "2410bfcf1932d43b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "4d0273236deaa22c",
        "type": "change",
        "z": "2410bfcf1932d43b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "5e24fa43ddc9eb17",
        "type": "status",
        "z": "ac07b485e680057f",
        "name": "",
        "scope": null,
        "x": 260,
        "y": 280,
        "wires": [
            [
                "b4411fb69ba25b2d"
            ]
        ]
    },
    {
        "id": "b4411fb69ba25b2d",
        "type": "http response",
        "z": "ac07b485e680057f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 530,
        "y": 320,
        "wires": []
    },
    {
        "id": "f9a3c7b9ec06ee65",
        "type": "websocket in",
        "z": "ac07b485e680057f",
        "name": "",
        "x": 180,
        "y": 60,
        "wires": [
            [
                "ba3502a7dc2c8c72"
            ]
        ]
    },
    {
        "id": "cdbacca50f97f28a",
        "type": "mqtt out",
        "z": "ac07b485e680057f",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "x": 490,
        "y": 180,
        "wires": []
    },
    {
        "id": "ba3502a7dc2c8c72",
        "type": "websocket out",
        "z": "ac07b485e680057f",
        "name": "",
        "x": 510,
        "y": 40,
        "wires": []
    }
]