flow.json
[
    {
        "id": "584d41915c6253d7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "054b565053a8d853",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "88c296ff0eb77349",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2718dabf454ba59c",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ea94d83619c0ed11",
        "type": "inject",
        "z": "584d41915c6253d7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 280,
        "wires": [
            [
                "a7c855bca59dd724"
            ]
        ]
    },
    {
        "id": "a7c855bca59dd724",
        "type": "debug",
        "z": "584d41915c6253d7",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 440,
        "wires": []
    },
    {
        "id": "afd1c1cb3f7f21d0",
        "type": "function",
        "z": "584d41915c6253d7",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "8e286c6636c8aab4",
        "type": "range",
        "z": "584d41915c6253d7",
        "minin": "",
        "maxin": "",
        "minout": "",
        "maxout": "",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 410,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "775c488d6fa3fa76",
        "type": "status",
        "z": "584d41915c6253d7",
        "name": "",
        "scope": null,
        "x": 80,
        "y": 440,
        "wires": [
            [
                "8e286c6636c8aab4",
                "6c14fd653c3fceb3"
            ]
        ]
    },
    {
        "id": "6c14fd653c3fceb3",
        "type": "exec",
        "z": "584d41915c6253d7",
        "command": "",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 530,
        "y": 700,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "13de6c25054c43f6",
        "type": "inject",
        "z": "88c296ff0eb77349",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 600,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "f60f6634ad47a406",
        "type": "debug",
        "z": "88c296ff0eb77349",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 120,
        "wires": []
    }
]